p{
    border-style: none solid solid solid;
    width:200px;
    min-height: 20px;
    border-color:black;
    margin:0;
    vertical-align: center;
    position: relative;
    
}

p:hover{
    background-color: chocolate;
}

.last{
    border-style: none solid none solid;
    width:200px;
    height:100px;
    border-color:black;
    margin:0;
}

body{
    position: relative;
    vertical-align: center;
    
}

div{
    
        width: 300px;
    
}