
.upper{
   display:flex;
   border: 1px;
   border-style: solid;
   border-color: blue;
   width: 500px;
   

}
article{
    margin:10px;
    width:30px;
    height:30px;
    background: blue;
    
}

.orange{
    display:flex;
    border: 1px;
    border-style: solid;
    border-color: blue;
    width: 500px;
    background: orange;
    margin-top: 10px;
 
 }

 article2{
    margin:10px;
    width:30px;
    height:30px;
    background: purple;
    
}
